img {
  width: 150px;
}

.gameboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.cards-container-easy {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 1100px;
}

.card-button {
  border: none;
  padding: 0;
  background: none;
  margin: 10px ;
}

#back-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.end-message {
  font-family: 'Amatic SC', cursive;
  font-size: 220px;
  animation: blinker 1s step-start infinite;
  text-shadow: 6px 6px rgb(154, 31, 255);
  background-color: rgb(255, 255, 255);
}

.anima-coracao {
  width: 400px;
}

.message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Media Query */

@media all and (min-width: 1920px) {
  .gameboard {
    height: 75vh;
  }
  img {
    width: 200px;
  }
}