img {
  width: 150px;
}

/* .gameboard {
  display:flex;
  flex-direction: column;
  justify-content: center;
} */

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: rgb(203, 250, 253); */
}

#back-button {
  /* width: 90 px;
  height: 60px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}