.header-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 47px;
  background-color: #383953;
  color: white;
  margin-bottom: 40px;
}

.timer-container {
  margin: auto;
  font-size: 2rem;
  font-weight: 700;
}

.timer-container span {
  margin-left: 100px;
}

/* PINK MODE */
.pink-mode-button {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: solid white 3px;
  background-color: rgb(237, 120, 255);
  margin-right: 50px;
}

.pink-mode-button:hover {
  background-color: rgb(242, 158, 255);
}

#pink .header-section {
  background-color: rgb(147, 52, 125);
}

.pink-mode-text {
  font-weight: 600;
  margin-right: 10px;
}