.title {
  font-family: 'Amatic SC', cursive;
  text-shadow: 6px 6px rgb(66, 224, 255);
  color: rgb(98, 39, 165);
}

.title-section {
  background-color: rgb(255, 255, 255);
  box-shadow: 8px 8px rgb(66, 224, 255);
  margin: auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-part-1 {
  display: flex;
  justify-content: center;
  margin-bottom: -35px;
  font-size: 90px;
}

.title-part-2 {
  animation: blinker 1s step-start infinite;
  display: flex;
  justify-content: center;
}

h3 {
  font-size: 110px;
}

.ana-title {
  animation: blinker-ana 1s step-start infinite;
  font-family: 'Amatic SC', cursive;
  font-size: 220px;
  color: rgb(84, 226, 56);
}

.heart-icon-r {
  margin-top: 10px;
  font-size: 100px;
}

.heart-icon-l {
  margin-top: 10px;
  margin-right: -12px;
  font-size: 100px;

}

.buttons-container {
  display: flex;
  justify-content: center;
}

.difficulty-btns-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  width: 40%;
}

.navigation-button {
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(98, 39, 165);
  box-shadow: 5px 5px rgb(255, 255, 255);
  font-weight: 700;
  border: none;
  margin-top: 20px;
  width: 90 px;
  height: 60px;
}

.choose-cardback-container {
  margin-top: 25px;
  color: rgb(132, 12, 202);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.choose-text {
  display: flex;
  justify-content: center;
}

.backimages-container {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}

.cardBack {
  margin-right: 15px;
  width: 100px;
}

h4 {
  background-color: white;
}

/* ========== Pink Mode ========== */

#pink .navigation-button {
  background-color: rgb(147, 52, 125);
}

#pink .title {
  text-shadow: 6px 6px pink;
  color: rgb(189, 14, 166);
}

#pink .title-section {
  box-shadow: 8px 8px rgb(224, 22, 255);
}

/* ========== Animações ========== */
@keyframes blinker {
  20% {
    color: rgb(255, 0, 8);
  }

  40% {
    color: rgb(47, 0, 255);
  }

  60% {
    color: rgb(255, 0, 217);
  }

  80% {
    color: rgb(255, 217, 0);
  }

  100% {
    color: rgb(62, 219, 240);
  }
}

@keyframes blinker-ana {
  25% {
    color: rgb(20, 205, 0);
  }

  50% {
    color: rgb(4, 0, 255);
  }

  75% {
    color: rgb(255, 82, 215);
  }

  100% {
    color: rgb(130, 47, 255);
  }
}
